<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Event</title>
</head>
<body>

<h1>Create Event</h1>
<form id="events-form" enctype="multipart/form-data">
    <div>
        <label for="title">Event Title:</label>
        <input type="text" id="title" name="title">
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
    </div>

<!--        <div>-->
<!--            <label for="date">Event Date:</label>-->
<!--            <input type="datetime-local" id="date" name="date" >-->
<!--        </div>-->

    <div>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location">
    </div>

<!--        <div>-->
<!--            <label for="image">Event Image:</label>-->
<!--            <input type="file" id="image" name="image" accept="image/*" required>-->
<!--        </div>-->

    <button type="submit">Create Event</button>
</form>
<script src="/js/events/createEvent.js"></script>

</body>
</html>
